.header {
    width: 100%;
    min-height: 100px;
    background: midnightblue;
    color: white;
    text-align: center;
}

.header > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > ul > a {
    color: bisque;
    text-decoration: none;
    list-style: none;
    margin-left: 5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.layout-btns {
    max-width: 100%;
    background: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layout-btns > button {
    background: gainsboro;
    width: 20rem;
    height: 2rem;
    font-weight: bold;
    color: blue;
    border: 0.1rem solid blueviolet;
    border-radius: 1rem;
}