* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    color: white;
    margin: 0;
}

* > a{
    color: white;
    text-decoration: none;
}

* > a:hover{
    color: deeppink;
}